@using Automation.Entities.Concrete
@model Expense
@{
    ViewBag.Title = "AddExpense";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("UpdateExpense", "Expenses", FormMethod.Post))
{
    <div class="container-fluid p-4">
        <ol class="breadcrumb shadow">
            <li class="breadcrumb-item lead mb-sm-2"><strong>Gider Ekle</strong></li>
        </ol>
        @Html.HiddenFor(x => x.ExpenseId)
        <div class="row p-2 shadow">
            <form>
                <div class="form-group col-sm-7">
                    @Html.Label("Açıklama : ")
                    @Html.TextAreaFor(x => x.ExpenseDescription, new { @class = "form-control multyple" })
                </div>
                <div class="form-group col-sm-4 mt-sm-2">
                    @Html.Label("Miktar : ")
                    @Html.TextBoxFor(x => x.ExpenseTotal, new { @class = "form-control", @placeholder = "₺" })
                </div>
                <hr />
                <button type="submit" class="btn btn-primary col-sm-3 offset-2">Kaydet</button>
            </form>
        </div>
    </div>
}