@using Automation.Entities.Concrete;
@model Employee
@{
    ViewBag.Title = "AddEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid p-4">
    <ol class="breadcrumb shadow">
        <li class="breadcrumb-item lead"><strong>Departman Ekle</strong></li>
    </ol>
    <div class="row p-2 shadow">
        <form class="col-sm-4" method="post">
            <div class="form-group">
                @Html.Label("Adı : ")
                @Html.TextBoxFor(x => x.EmployeeName, new { @class = "form-control", @placeholder = "" })
                <small id="departmentNameValidation" class="form-text text-muted">Müşteri adı 50 karakteri geçemez.</small>
            </div>
            <div class="form-group">
                @Html.Label("Soyadı: ")
                @Html.TextBoxFor(x => x.EmployeeSurname, new { @class = "form-control", @placeholder = "" })
                <small id="departmentNameValidation" class="form-text text-muted">Müşteri soyadı 50 karakteri geçemez.</small>
            </div>
            <div class="form-group">
                @Html.Label("Departman : ")
                @Html.DropDownListFor(x => x.DepartmentId, (List<SelectListItem>)ViewBag.departmentList, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.Label("Personel Fotoğrafı : ")
                @Html.TextBoxFor(x => x.EmployeeImage, new { @class = "form-control", @placeholder = "" })
                <small id="departmentNameValidation" class="form-text text-muted">Müşteri adı 50 karakteri geçemez.</small>
            </div>
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </form>
    </div>
</div>


