@using AutomationUI.Models
@model SalesDetailListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <ol class="breadcrumb mt-3 shadow">
        <li class="breadcrumb-item lead"><strong>Satış Detayları</strong></li>
    </ol>
    @*<a class="btn btn-primary ml-sm-3 mb-sm-3 shadow" href="/SalesDetails/AddSalesDetail">Satış Yap</a>*@
    <a class="btn btn-danger mb-sm-2 shadow" href="#">Yazdır</a>
    <table id="example" class="trow-border hover order-column shadow">
        <thead>
            <tr>
                <th>Marka</th>
                <th>Ürün</th>
                <th>Tarih</th>
                <th>Adet</th>
                <th>Fiyat</th>
                <th>Toplam</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var salesDetail in Model.SalesDetails)
            {
                <tr>
                    <td class="p-2">@salesDetail.Product.Brand</td>
                    <td class="p-2">@salesDetail.Product.ProductName</td>
                    <td class="p-2">@salesDetail.SalesDetailDate.ToShortDateString()</td>
                    <td class="p-2">@salesDetail.SalesDetailQuantity</td>
                    <td class="p-2">@salesDetail.SalesDetailPrice</td>
                    <td class="p-2">@salesDetail.SalesDetailTotal</td>


                    @*@if (!expense.IsActive)
                        {
                            <td class="p-2 text-center"><img style="width:23px" src="~/Icons/redCircle.png" alt="" /></td>
                        }
                        else
                        {
                            <td class="p-2 text-center"><img style="width:23px" src="~/Icons/greenCircle.png" alt="" /></td>
                        }*@
                    <td class="text-sm-right">
                        <a class="btn btn-success btn-sm text-sm-right" href="/Departments/DepartmentEmployeeSales/@salesDetail.SalesDetailId">Detay</a>
                    </td>
                    <td class="text-sm-center">
                        <a class="btn btn-warning btn-sm mr-sm-2" href="/SalesDetails/UpdateSalesDetail/@salesDetail.SalesDetailId">Güncelle</a>
                    </td>
                    @*@if (salesDetail.IsActive)
                        {
                            <td class="text-sm-left">
                                <a class="btn btn-danger btn-sm text-center" href="/Employees/DeleteEmployee/@salesDetail.SalesDetailId">Kaldır</a>
                            </td>
                        }
                        else
                        {
                            <td class="text-sm-left">
                                <a class="btn btn-primary btn-sm text-center" href="/Employees/DeleteEmployee/@salesDetail.SalesDetailId">Ekle</a>
                            </td>
                        }*@
                </tr>
            }
        </tbody>

    </table>
</div>


<div class="container-fluid">
    <ol class="breadcrumb mt-sm-3 shadow">
        <li class="breadcrumb-item lead"><strong>Satış Geçmişi</strong></li>
    </ol>
    <table id="graph" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Müşteri</th>
                <th>Personel</th>
                <th>Ürün</th>
                <th>Stok Miktarı</th>
                <th>Fiyat</th>
                <th>Satış Adedi</th>
                <th>Toplam Fiyat</th>
                <th>Tarih</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sales in Model.SalesDetails)
            {
                <tr>
                    <td>@sales.Customer.CustomerName</td>
                    <td>@sales.Employee.EmployeeName</td>
                    <td>@sales.Product.ProductName</td>
                    <td>@sales.Product.UnitInStock</td>
                    <td>@sales.Product.UnitPrice</td>
                    <td>@sales.SalesDetailQuantity</td>
                    <td>@sales.SalesDetailTotal</td>
                    <td>@sales.SalesDetailDate</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Müşteri</th>
                <th>Personel</th>
                <th>Ürün</th>
                <th>Stok Miktarı</th>
                <th>Fiyat</th>
                <th>Satış Adedi</th>
                <th>Toplam Fiyat</th>
                <th>Tarih</th>
            </tr>
        </tfoot>
    </table>
</div>


