@using AutomationUI.Models;
@model ProductListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <ol class="breadcrumb shadow">
        <li class="breadcrumb-item lead"><strong>Ürünler</strong></li>
    </ol>
    <a class="btn btn-primary mb-sm-3 shadow" href="/Products/AddProduct">Ürün Ekle</a>
    <table id="example" class="trow-border hover order-column shadow">
        <thead>
            <tr>
                <th></th>
                <th>Ürün Adı</th>
                <th>Kategori</th>
                <th>Marka</th>
                <th>Fiyat</th>
                <th>Stok</th>
                <th class="text-center">Stok Durumu</th>
                <th>Satış Yap</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.GetProductDetails)
            {
                <tr>
                    <td class="text-center">
                        <img src="@Url.Content(product.ProductImage)" alt="Product Image" class="img-size-50 img-circle" style="width:50px;">
                    </td>
                    <td class="p-2">@product.ProductName</td>
                    <td class="p-2">@product.CategoryName</td>
                    <td class="p-2">@product.Brand</td>
                    <td class="p-2">@product.UnitPrice ₺</td>
                    <td class="p-2">@product.UnitInStock</td>
                    @if (product.UnitInStock > 5)
                    {
                        <td class="p-2 text-center"><span class="badge badge-success">Stokta Var</span></td>
                    }
                    else if (product.UnitInStock <= 5 && product.UnitInStock > 0)
                    {
                        <td class="p-2 text-center"><span class="badge badge-warning">Stok Az</span></td>
                    }
                    else
                    {
                        <td class="p-2 text-center"><span class="badge badge-danger">Stokta Yok</span></td>
                    }
                    @if (product.UnitInStock == 0 || product.IsActive == false)
                    {
                        <td class="text-sm-center">
                            <a id="sell" class="btn btn-outline-dark disabled btn-lg text-center" href="/Products/Sell/@product.ProductId">Satış Yap</a>
                        </td>
                    }
                    else
                    {
                        <td class="text-sm-center">
                            <a id="sell" class="btn btn-outline-danger btn-lg" href="/Products/Sell/@product.ProductId">Satış Yap</a>
                        </td>
                    }

                    <td class="text-sm-center">
                        <a class="btn btn-warning btn-sm mr-4" href="/Products/UpdateProduct/@product.ProductId">Güncelle</a>
                    </td>
                    @if (product.IsActive)
                    {
                        <td class="text-sm-left">
                            <a class="btn btn-danger btn-sm text-center mr-4" href="/Products/DeleteProduct/@product.ProductId">Kaldır</a>
                        </td>
                    }
                    else
                    {
                        <td class="text-sm-left">
                            <a class="btn btn-primary btn-sm text-center mr-4" href="/Products/DeleteProduct/@product.ProductId">Ekle</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>







