@using AutomationUI.Models;
@model ProductListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid p-4">
    <ol class="breadcrumb shadow">
        <li class="breadcrumb-item lead"><strong>Ürünler</strong></li>
    </ol>
    <div class="row mt-3 mb-5 border-bottom border-top">
        <a class="btn btn-primary ml-sm-3 shadow" href="/Products/AddProduct">Ürün Ekle</a>
        <table id="productTable" class="table table-hover table-striped table-sm p-sm-1 mt-2 mb-5 shadow">
            <thead>
                <tr>
                    <th>Ürün Adı</th>
                    <th>Kategori</th>
                    <th>Marka</th>
                    <th>Fiyat</th>
                    <th>Stok</th>
                    <th class="text-center">Stok Durumu</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.GetProductDetails)
                {
                    <tr>
                        <td class="p-2">@product.ProductName</td>
                        <td class="p-2">@product.CategoryName</td>
                        <td class="p-2">@product.Brand</td>
                        <td class="p-2">@product.UnitPrice ₺</td>
                        <td class="p-2">@product.UnitInStock</td>
                        <td></td>
                        @if (product.UnitInStock <= 5)
                        {
                            <td class="p-2 text-center"><img style="width:23px" src="~/Icons/redCircle.png" alt="" /></td>
                        }
                        else
                        {
                            <td class="p-2 text-center"><img style="width:23px" src="~/Icons/greenCircle.png" alt="" /></td>
                        }
                        <td class="text-sm-left">
                            <a class="btn btn-success btn-sm text-center mr-4" href="/ProductDetails/Index/@product.ProductId">Detay</a>
                        </td>

                        <td class="text-sm-right">
                            <a class="btn btn-warning btn-sm mr-4" href="/Products/UpdateProduct/@product.ProductId">Güncelle</a>
                        </td>
                        @if (product.IsActive)
                        {
                            <td class="text-sm-left">
                                <a class="btn btn-danger btn-sm text-center mr-4" href="/Products/DeleteProduct/@product.ProductId">Kaldır</a>
                            </td>
                        }
                        else
                        {
                            <td class="text-sm-left">
                                <a class="btn btn-primary btn-sm text-center mr-4" href="/Products/DeleteProduct/@product.ProductId">Ekle</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@Html.Partial("_Datatable")
<script>
    $('#productTable').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
        }
    });
</script>





