@using Automation.Entities.Concrete
@model SalesDetail
@{
    ViewBag.Title = "Sell";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <ol class="breadcrumb shadow">
        <li class="breadcrumb-item lead"><strong>Satış Yap</strong></li>
    </ol>
    <div class="row p-2 shadow">
        <form class="col-sm-4" method="post">
            <input type="text" name="ProductId" value="@ViewBag.productId" hidden />
            <div class="form-group">
                @Html.Label("Ürün : ")
                <h3>@ViewBag.productName </h3>
            </div>
            <div class="form-group">
                @Html.Label("Personel Seçiniz : ")
                @Html.DropDownListFor(x => x.EmployeeId, (List<SelectListItem>)ViewBag.employeeListItems, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.Label("Müşteri Seçiniz : ")
                @Html.DropDownListFor(x => x.CustomerId, (List<SelectListItem>)ViewBag.customerListItems, new { @class = "form-control" })
            </div>
            @*<div class="form-group">
                    @Html.Label("Müşteri : ")
                    @Html.TextBoxFor(x => x.Customer.CustomerName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.Label("Personel : ")
                    @Html.TextBoxFor(x => x.Employee.EmployeeName, new { @class = "form-control" })
                </div>*@
            <div class="form-group">
                @Html.Label("Adet : ")
                <input class="form-control" id="productQuantity" type="number" name="SalesDetailQuantity" onchange="Multiply();" min="1" />
            </div>
            <div class="form-group">
                @Html.Label("Fiyat : ")
                <input class="form-control" id="productPrice" type="text" name="SalesDetailPrice" value="@ViewBag.productPrice" onkeyup="Multiply();" min="1" />
            </div>

            <div class="form-group">
                @Html.Label("Total : ")
                <input class="form-control" value="0" id="productTotal" readonly type="number" name="SalesDetailTotal" min="1" />
            </div>
            <button type="submit" class="btn btn-primary">Satış Yap</button>
        </form>
    </div>
</div>
<script>
    function Multiply() {
        var price = document.getElementById("productPrice").value;
        var quantity = document.getElementById("productQuantity").value;
        var result = parseInt(price) * parseInt(quantity);
        if (!isNaN(result)) {
            document.getElementById("productTotal").value = result;
        }
    }
</script>


