@using Automation.Entities.Concrete
@model SalesDetail
@{
    ViewBag.Title = "Sell";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sell</h2>



<div class="container-fluid p-4">
    <ol class="breadcrumb shadow">
        <li class="breadcrumb-item lead"><strong>Satış Ekle</strong></li>
    </ol>
    <div class="row p-2 shadow">
        <form class="col-sm-4" method="post">

            <div class="form-group">
                @Html.Label("Ürün Seçiniz : ")
                @Html.DropDownListFor(x => x.ProductId, (List<SelectListItem>)ViewBag.productListItems, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.Label("Personel Seçiniz : ")
                @Html.DropDownListFor(x => x.EmployeeId, (List<SelectListItem>)ViewBag.employeeListItems, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.Label("Müşteri Seçiniz : ")
                @Html.DropDownListFor(x => x.CustomerId, (List<SelectListItem>)ViewBag.customerListItems, new { @class = "form-control" })
            </div>
            @*<div class="form-group">
                    @Html.Label("Müşteri : ")
                    @Html.TextBoxFor(x => x.Customer.CustomerName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.Label("Personel : ")
                    @Html.TextBoxFor(x => x.Employee.EmployeeName, new { @class = "form-control" })
                </div>*@
            @*<div class="form-group">
                    @Html.Label("Ürün : ")
                    @Html.TextBoxFor(x => x.Product.ProductName, new { @class = "form-control" })
                </div>*@
            <div class="form-group">
                @Html.Label("Adet : ")
                @Html.TextBoxFor(x => x.SalesDetailQuantity, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.Label("Fiyat : ")
                @Html.TextBoxFor(x => x.SalesDetailPrice, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.Label("Fiyat : ")
                @Html.TextBoxFor(x => x.SalesDetailTotal, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.Label("Fiyat : ")
                @Html.TextBoxFor(x => x.SalesDetailDate, new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-primary">Satış Yap</button>
        </form>
    </div>
</div>


