@using Automation.Entities.Concrete;
@model Customer
@{
    ViewBag.Title = "UpdateCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("UpdateCustomer", "Customers", FormMethod.Post))
{
<div class="container-fluid">
    <ol class="breadcrumb shadow">
        <li class="breadcrumb-item lead"><strong>Müşteri Güncelle</strong></li>
    </ol>
    @Html.ValidationSummary(false, "", new { @style = "color:red" })
    @Html.HiddenFor(x => x.CustomerId)
    <div class="row p-2 shadow ">
        <div class="col-sm-4">
            <div class="form-group">
                @Html.Label("Adı : ")
                @Html.TextBoxFor(x => x.CustomerName, new { @class = "form-control", @placeholder = "Giyim, Spor.." })
             
            </div>
            <div class="form-group">
                @Html.Label("Adı : ")
                @Html.TextBoxFor(x => x.CustomerSurname, new { @class = "form-control", @placeholder = "Giyim, Spor.." })
           
            </div>
            <div class="form-group">
                @Html.Label("Adı : ")
                @Html.TextBoxFor(x => x.CustomerEmail, new { @class = "form-control", @placeholder = "Giyim, Spor.." })
          
            </div>
            <div class="form-group">
                @Html.Label("Adı : ")
                @Html.TextBoxFor(x => x.CustomerCity, new { @class = "form-control", @placeholder = "Giyim, Spor.." })
       
            </div>
            <button type="submit" class="btn btn-primary">Güncelle</button>
        </div>
    </div>
</div>
}




