@using AutomationUI.Models;
@model SalesDetailListViewModel
@{
    ViewBag.Title = "DepartmentEmployeeSales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <ol class="breadcrumb shadow">
        <li class="breadcrumb-item lead"><strong>Satışlar - @ViewBag.employeeName</strong></li>
    </ol>
    <a class="btn btn-danger mb-sm-2 shadow" href="/Departments/AddDepartment">Yazdır</a>
    <table id="example" class="trow-border hover order-column shadow">
        <thead>
            <tr>
                <th>Ad</th>
                <th>Marka</th>
                <th>Ürün</th>
                <th>Tarih</th>
                <th>Fiyat</th>
                <th>Adet</th>
                <th>Toplam</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var salesDetail in Model.SalesDetails)
            {
                <tr>
                    <td class="p-2">@salesDetail.Employee.EmployeeName @salesDetail.Employee.EmployeeSurname</td>
                    <td class="p-2">@salesDetail.Product.Brand</td>
                    <td class="p-2">@salesDetail.Product.ProductName</td>
                    <td class="p-2">@salesDetail.SalesDetailDate</td>
                    <td class="p-2">@salesDetail.SalesDetailPrice</td>
                    <td class="p-2">@salesDetail.SalesDetailQuantity</td>
                    <td class="p-2">@salesDetail.SalesDetailTotal</td>
                </tr>
            }
        </tbody>

    </table>
</div>




