@using AutomationUI.Models
@model SalesDetailListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">
    <ol class="breadcrumb mt-sm-3 shadow">
        <li class="breadcrumb-item lead"><strong>Satış Geçmişi</strong></li>
    </ol>
    <table id="graph" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Müşteri</th>
                <th>Personel</th>
                <th>Ürün</th>
                <th>Stok Miktarı</th>
                <th>Fiyat</th>
                <th>Satış Adedi</th>
                <th>Toplam Fiyat</th>
                <th>Tarih</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sales in Model.SalesDetails)
            {
                <tr>
                    <td>@sales.Customer.CustomerName</td>
                    <td>@sales.Employee.EmployeeName</td>
                    <td>@sales.Product.ProductName</td>
                    <td>@sales.Product.UnitInStock</td>
                    <td>@sales.Product.UnitPrice</td>
                    <td>@sales.SalesDetailQuantity</td>
                    <td>@sales.SalesDetailTotal</td>
                    <td>@sales.SalesDetailDate</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Müşteri</th>
                <th>Personel</th>
                <th>Ürün</th>
                <th>Stok Miktarı</th>
                <th>Fiyat</th>
                <th>Satış Adedi</th>
                <th>Toplam Fiyat</th>
                <th>Tarih</th>
            </tr>
        </tfoot>
    </table>
</div>