@*@using AutomationUI.Models
    @model Tuple<List<CustomerListViewModel>, ProductListViewModel>*@
@using Automation.Entities.Concrete
@model Tuple<List<Customer>, List<SalesDetail>, List<Product>>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>@ViewBag.customers</h3>

                            <p>Müşteriler</p>
                        </div>
                        <div class="icon">
                            <i class=" ion ion-person-add"></i>
                        </div>
                        <a href="/Customers/Index" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>@ViewBag.products<sup style="font-size: 20px"></sup></h3>

                            <p>Ürünler</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag "></i>
                        </div>
                        <a href="/Products/Index" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>@ViewBag.sales ₺</h3>

                            <p>Satışlar</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="/SalesDetails/Index" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3>@ViewBag.expenseTotal ₺</h3>
                            <p>Giderler</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="/Expenses/Index" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>

            <div class="card col-sm-12 shadow">
                <div class="card-header">
                    <h3 class="card-title"><strong>Yeni Müşteriler</strong></h3>

                    <div class="card-tools">
                        <span class="badge badge-danger">Son Eklenen @ViewBag.customerCount Müşteri</span>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body  p-0">
                    <ul class="users-list clearfix p-4">
                        @foreach (var customer in Model.Item1)
                        {
                            <li class="shadow mb-sm-4">

                                <a class="users-list-name" href="/Customers/CustomerDetails/@customer.CustomerId"><strong>@customer.CustomerName @customer.CustomerSurname</strong></a>
                                <span class="users-list-date">@customer.CustomerCity</span>
                                <span class="users-list-date">@customer.CustomerEmail</span>
                            </li>
                        }
                    </ul>
                    <!-- /.users-list -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer text-center shadow">
                    <a href="/Customers/Index"><strong>Tüm Müşterileriler</strong></a>
                </div>
                <!-- /.card-footer -->
            </div>
            <div class="card col-sm-12 shadow">
                <div class="card-header border-transparent">
                    <h3 class="card-title"><strong>Son Satılan 10 Ürün</strong></h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0" style="display: block;">
                    <div class="table-responsive">
                        <table class="table m-0">
                            <thead>
                                <tr>
                                    <th>Ürün</th>
                                    <th>Stok Durumu</th>
                                    <th>Satılan Adet</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var sales in Model.Item2)
                                {
                                    <tr>
                                        <td><a href="#">@sales.Product.ProductName</a></td>
                                        @if (sales.Product.UnitInStock > 5)
                                        {
                                            <td><span class="badge badge-success">Stokta Var</span></td>
                                        }
                                        else if (sales.Product.UnitInStock <= 5 && sales.Product.UnitInStock > 0)
                                        {
                                            <td><span class="badge badge-warning">Stok Az</span></td>
                                        }
                                        else
                                        {
                                            <td><span class="badge badge-danger">Stokta Yok</span></td>
                                        }

                                        <td>@sales.SalesDetailQuantity</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix shadow" style="display: block;">
                    <a href="/Products/Index" class="btn btn-sm btn-info float-left">Yeni Satış Yap</a>
                    <a href="/SalesDetails/Index" class="btn btn-sm btn-secondary float-right">Tüm Satışlar</a>
                </div>
                <!-- /.card-footer -->
            </div>
            <div class="card col-sm-12">
                <div class="card-header">
                    <h3 class="card-title"><strong>Son Eklenen 10 Ürün</strong></h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0 shadow">
                    <ul class="products-list product-list-in-card pl-2 pr-2">
                        @foreach (var product in Model.Item3)
                        {
                            <li class="item">
                                <div class="product-img ">
                                    <img src="@Url.Content(product.ProductImage)" alt="Product Image" class="img-size-50 img-circle">
                                </div>
                                <div class="product-info p-2 mt-sm-1">
                                    <a href="#" class="product-title">
                                        @product.ProductName
                                        <span class="badge badge-warning float-right">@product.UnitPrice ₺</span>
                                    </a>
                                    @*<span class="product-description">
                                            Samsung 32" 1080p 60Hz LED Smart HDTV.
                                            @sales.Product.
                                        </span>*@
                                </div>
                            </li>

                        }

                    </ul>
                </div>
                <!-- /.card-body -->
                <div class="card-footer text-center shadow">
                    <a href="/Products/Index" class="uppercase"><strong>Tüm Ürünler</strong></a>
                </div>
                <!-- /.card-footer -->
            </div>


        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/AdminLTE-3.0.4/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Summernote -->
    <script src="~/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/AdminLTE-3.0.4/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE-3.0.4/dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/AdminLTE-3.0.4/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>
</body>
</html>


